@font-face {
    font-family: 'Samim';
    src: url('../fonts/Samim.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('../fonts/Samim.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Samim';
    src: url('../fonts/Samim.woff');
    font-weight: 300;
    font-style: normal;
}
